
.App {
  text-align: center;
 
}
h1 {
	font-size: 400%;
	margin: auto;
}

table{
	text-align: center;
	margin: auto;
	font-size: 200%
}
td, th{
	padding-right: 20px;
	padding-left: 20px;
	text-align: center;
}
td {
	color: grey;
}
h3 {
	color: red;
}

h2 {
	color: blue;
	font-size: 200%;
}

button {
	font-size: 200%;
}

#secret {
	font-size:150%;
	color:red;
}
input[type=text] {
	text-align: center;
	font-size:500%;
	border: solid 1px black;
	letter-spacing: 1.75px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

